/* propsal styling */
.proposal-body{
    background-color: #EBEBF2;
    margin: auto;
    max-width:70%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.proposal-header{
    font-size:30px;
    text-align:center;
    padding:20px;
}
.proposal-section{
    font-size:20px;
}
main{
    padding-bottom: 20px;
}

* {
    box-sizing: border-box; 
}

 /* main page  */

 .jumbotron{
    background-image: url('../src/img/jumbotron.jpeg');
    background-size: cover;
    border-radius: 0%
}

.card-body .card-title {
    color: #4B2E83;
}

/* husky kudos text */
.jumbotron .container h1 {
    font-family: "Encode Sans Compressed", sans-serif;
    font-weight: 900;
    line-height: 1;
    color: #FFF;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    font-size: 60px;
}

/* top uw banner */
.header{
    background-color: #4B2E83;
}

.header img{
    max-width: 50%;
}


.nav-flex-container {
    display: flex;
    
}

.nav-item p {
    color: #FFF;
    font-weight: 900;
    font-size:  25px;
    display: inline-table;
    margin-top: 3.5%;
    margin-left: 20%;
  
} 

.nav-item .btn-secondary {
  margin-left: 2%;
  margin-bottom: 1%;
} 


.nav-item .ww{
    margin-top: 3.5%;
    margin-left: 20%;
}

form label {
    margin-top: 50px;
    color: #4b2e83;
    font-weight: 900;
    font-size:  25px;
}

.nav-button span a {
    padding: 10px 40px 10px 60px;
    font-weight: 900;
    font-size: 16px;
    font-family: "Encode Sans Compressed",sans-serif;
    transform: skew(-15deg, 0);
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    border: 3px solid #FFF;
    flex: 1;
    margin-right: 10px;
}

@media (max-width: 576px) {
    .nav-button span a {
        font-size: 12px;
    }
}

/* filter by*/
.filter p{
    font-weight: 900;
    color: #4b2e83;
    font-size: 20px;
    display: inline-block;
}


@media (min-width: 992px) {
    .filter button{
        display: inline;
        margin: 2px;
    }
}

@media (max-width: 992px) {
    .filter button{
        display:inline-block;
    }
}

@media (max-width: 576px) {
    .filter button {
        font-size: 10px;
    }
}

form label {
    margin-top: 50px;
    color: #4b2e83;
    font-weight: 900;
    font-size:  25px;
}

/* about page */
.main-content h2{
   font-weight: 800; 
   color: #4b2e83;
   display: block;
}
.card-body img{
    border-radius: 50%;
    height:100px;
    width:100px;
}

.main-content p{
    font-size: 30px;
    line-height: 1.72222;
    margin: 0 0 14.5px;
    font-weight: normal;
    color: #3D3D3D;
    -webkit-font-smoothing: antialiased;
}

/* footer style */
footer {
    color: white;
    background-color: #4B2E83;
    padding: 2rem;
    bottom: 0;
    width: 100%;
    margin-bottom:0;
}



footer a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.card-columns{
    margin:10px;
    
}


@media (max-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}
@media (max-width: 992px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992x) {
    .card-columns {
        column-count: 4;
        column-gap: normal;
    }
}


.form {
    width: 100%;
  }
  
  .form > h2 {
    text-align: center;
  }
  
  .form > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .form > form > p {
    cursor: pointer;
  }

  .error {
    background-color: tomato;
    color: white;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: bold;
    max-width: 400px;
    margin-bottom: 18px;
  }
  
  .auth {
    box-shadow: 0 1px 6px #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10.5%;
  }
  
  .auth > p {
    cursor: pointer;
    margin: 12px;
  }
 form  button {
    background-color: teal;
    border: none;
    color: white;
    padding: 12px;
    margin: 12px 0;
    box-shadow: 0 1px 6px #ccc;
    width: 100%;
    border-radius: 6px;
    font-size: 18px;
  } 

  .form input {
    padding: 12px;
    margin: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 6px;
    font-size: 18px;
    width: 93%;
  }